<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= book.name %> | EZLIFE Online</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Place favicon.ico in the root directory -->
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Poppins:400,700,600,500,300' rel='stylesheet' type='text/css'>

    <!-- all css here -->
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- animate css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- jquery-ui.min css -->
    <link rel="stylesheet" href="css/jquery-ui.min.css">
    <!-- meanmenu css -->
    <link rel="stylesheet" href="css/meanmenu.min.css">
    <!-- Font-Awesome css -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- pe-icon-7-stroke css -->
    <link rel="stylesheet" href="css/pe-icon-7-stroke.css">
    <!-- Flaticon css -->
    <link rel="stylesheet" href="css/flaticon.css">
    <!-- venobox css -->
    <link rel="stylesheet" href="venobox/venobox.css" type="text/css" media="screen" />
    <!-- nivo slider css -->
    <link rel="stylesheet" href="lib/css/nivo-slider.css" type="text/css" />
    <link rel="stylesheet" href="lib/css/preview.css" type="text/css" media="screen" />
    <!-- owl.carousel css -->
    <link rel="stylesheet" href="css/owl.carousel.css">
    <!-- style css -->
    <link rel="stylesheet" href="style.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- modernizr css -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

    <!-- Add your site or application content here -->
    <!--Header Area Start-->
    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <div class="header-logo">
                        <a href="/">
                            <div class="banner-title">
                                <h2>EZLIFE</h2>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-1 col-sm-6 visible-sm  col-xs-6">
                    <div class="header-right">
                        <ul>
                            <li>
                                <%if(customerId){%>
                                <a href="/my-account"><i class="flaticon-people"></i></a>
                                <%} else {%>
                                <a href="/login"><i class="flaticon-people"></i></a>
                                <%}%>
                            </li>
                            <li class="shoping-cart">
                                <a href="#">
                                    <i class="flaticon-shop"></i>
                                    <span>2</span>
                                </a>
                            
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9 col-sm-12 hidden-xs">
                    <div class="mainmenu text-center">
                        <nav>
                            <ul id="nav">
                                <li><a href="/">Trang chủ</a></li>
                                <li><a href="#">Danh mục sách</a>
                                    <ul class="sub-menu">
                                        <li><a href="/type?id=comic">Truyện </a></li>
                                        <li><a href="/type?id=book">Sách tham khảo </a></li>
                                        <li><a href="/type?id=other">Sách khác </a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-1 hidden-sm">
                    <div class="header-right">
                        <ul>
                            <li>
                             <%if(customerId){%>
                                <a href="/my-account"><i class="flaticon-people"></i></a>
                                <%} else {%>
                                <a href="/login"><i class="flaticon-people"></i></a>
                                <%}%>
                            </li>
                            <li class="shoping-cart">
                                <a href="#">
                                    <i class="flaticon-shop"></i>
                                    <span>2</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!--Header Area End-->
		<!-- Mobile Menu Start -->
		<div class="mobile-menu-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="mobile-menu">
							<nav id="dropdown">
								<ul>
                                    <li><a href="/">HOME</a></li>
                                  <li><a href="/type?id=comic">Truyện </a></li>
                                  <li><a href="/type?id=book">Sách tham khảo </a></li>
                                  <li><a href="/type?id=other">Sách khác </a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>		
		<!- Mobile Menu End -->  
    <!-- Breadcrumbs Area Start -->
    <div class="breadcrumbs-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumbs">
                        <h2>BOOK DETAILS</h2>
                        <ul class="breadcrumbs-list">
                            <li>
                                <a title="Return to Home" href="/">Home</a>
                            </li>
                            <li><%= book.name %></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumbs Area Start -->
    <!-- Single Product Area Start -->
    <div class="single-product-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-7">
                    <div class="single-product-image-inner">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="one">
                                <a class="venobox" href="<%= book.image %>" data-gall="gallery" title="">
                                    <img class="book-image" src="<%= book.image %>" alt="">
                                </a>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="two">
                                <a class="venobox" href="img/single-product/bg-2.jpg" data-gall="gallery" title="">
                                    <img src="img/single-product/bg-2.jpg" alt="">
                                </a>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="three">
                                <a class="venobox" href="img/single-product/bg-3.jpg" data-gall="gallery" title="">
                                    <img src="img/single-product/bg-3.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-5">
                    <div class="single-product-details">
                        <h2><%= book.name %></h2>
                        <div class="availability">
                            <span>In stock</span>
                        </div>
                        <p><%= book.shortDesc %></p>
                        <div class="single-product-price">
                            <h2>$49.66</h2>
                        </div>
                        <div class="product-attributes clearfix">
                            <span class="pull-left" id="quantity-wanted-p">
                                <span class="dec qtybutton">-</span>
                                <input type="text" value="1" class="cart-plus-minus-box">
                                <span class="inc qtybutton">+</span>
                            </span>
                            <span>
                                <a class="cart-btn btn-default" href="cart.html">
                                    <i class="flaticon-shop"></i>
                                    Add to cart
                                </a>
                            </span>
                        </div>
                        <div class="add-to-wishlist">
                            <a class="wish-btn" href="cart.html">
                                <i class="fa fa-heart-o"></i>
                                ADD TO WISHLIST
                            </a>
                        </div>
                        <div class="single-product-categories">
                            <label>Categories:</label>
                            <span><%= book.typeId %></span>
                        </div>
                        <div class="social-share">
                            <label>Share: </label>
                            <ul class="social-share-icon">
                                <li><a href="#"><i class="flaticon-social"></i></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="p-details-tab-content">
                        <div class="p-details-tab">
                            <ul class="p-details-nav-tab" role="tablist">
                                <li role="presentation" class="active"><a href="#more-info" aria-controls="more-info"
                                        role="tab" data-toggle="tab">Description</a></li>
                                <li role="presentation"><a href="#data" aria-controls="data" role="tab"
                                        data-toggle="tab">Review</a>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="tab-content review">
                            <div role="tabpanel" class="tab-pane active" id="more-info">
                                <p><%= book.fullDesc %></p>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="data">
                                <div class="fb-comments" width="1100px"
                                    data-href="https://cnpm-ezlife.herokuapp.com/book?id=<%= book._id %>"
                                    data-width="700px" data-numposts="5"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Single Product Area End -->
    <!-- Related Product Area Start -->
    <div class="related-product-area">
        <h2 class="section-title">RELATED BOOKS</h2>
        <div class="container">
            <div class="row">
                <div class="related-product indicator-style">
                    <% relates.forEach(e=>{ %>
                    <div class="col-md-3">
                        <div class="single-banner">
                            <div class="product-wrapper">
                                <a href="/book?id=<%= e._id %>" class="single-banner-image-wrapper">
                                    <img class="img-book-mini" src="<%= e.image %>">

                                </a>
                                <div class="product-description">
                                    <div class="functional-buttons">
                                        <a href="/book?id=<%= e._id %>" title="Add to Cart">
                                            <i class="fa fa-shopping-cart"></i>
                                        </a>
                                        <a href="#" title="Add to Wishlist">
                                            <i class="fa fa-heart-o"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="banner-bottom text-center">
                                <a href="/book?id=<%= e._id %>"><%= e.name %></a>
                                <div class="book-price">$<%= e.unitPrice %></div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
    <!-- Related Product Area End -->
    <!-- Footer Area Start -->
    <footer>
        <div class="footer-top-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-8">
                        <div class="footer-left">
                            <a href="/">
                                <img src="img/logo-2.png" alt="">
                            </a>
                            <p>Nhà cung cấp sách hàng đầu Việt Nam từ năm 2002, tiên phong áp dụng công nghệ vào quy
                                trình
                                mua, bán sách.</p>
                            <ul class="footer-contact">
                                <li>
                                    <i class="flaticon-location"></i>
                                    Thủ Đức, TP.HCM
                                </li>
                                <li>
                                    <i class="flaticon-technology"></i>
                                    0834123678
                                </li>
                                <li>
                                    <i class="flaticon-web"></i>
                                    info@ezlife.vn
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <div class="single-footer">
                            <h2 class="footer-title">Thể loại</h2>
                            <ul class="footer-list">
                                <li><a href="#">Truyện tranh</a></li>
                                <li><a href="#">Sách giáo khoa</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 hidden-sm">
                        <div class="single-footer">
                            <h2 class="footer-title">Liên kết</h2>
                            <ul class="footer-list">
                                <li><a href="my-account.html">Tài khoản</a></li>
                                <li><a href="account.html">Giỏ hàng</a></li>
                                <li><a href="checkout.html">Quản lý</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 hidden-sm">
                        <div class="single-footer">
                            <h2 class="footer-title">Hợp tác</h2>
                            <ul class="footer-list">
                                <li><a href="#">Công ty 1</a></li>
                                <li><a href="#">Công ty 2</a></li>
                                <li><a href="#">Công ty 3</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-8">
                        <div class="single-footer footer-newsletter">
                            <h2 class="footer-title">Khuyến Mãi</h2>
                            <p>Khuyến mãi giảm giá 30% nhân dịp lễ 30/4 - 1/5 </p>

                            <ul class="social-icon">
                                <li>
                                    <a href="#">
                                        <i class="flaticon-social"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="flaticon-social-1"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="flaticon-social-2"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="flaticon-video"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 visible-sm">
                        <div class="single-footer">
                            <h2 class="footer-title">Shop</h2>
                            <ul class="footer-list">
                                <li><a href="#">Orders & Returns</a></li>
                                <li><a href="#">Search Terms</a></li>
                                <li><a href="#">Advance Search</a></li>
                                <li><a href="#">Affiliates</a></li>
                                <li><a href="#">Group Sales</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer-bottom-left pull-left">
                            <p>Copyright &copy; 2019 <span><a href="#">EZLIFE</a></span>. All Right Reserved.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-bottom-right pull-right">
                            <img src="img/paypal.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--Footer Area End -->
    <!-- The Modal Start-->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Modal body..
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <!-- The Modal End-->

    <!-- all js here -->
    <!-- jquery latest version -->
    <script src="js/vendor/jquery-1.12.0.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- owl.carousel js -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- jquery-ui js -->
    <script src="js/jquery-ui.min.js"></script>
    <!-- jquery Counterup js -->
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <!-- jquery countdown js -->
    <script src="js/jquery.countdown.min.js"></script>
    <!-- jquery countdown js -->
    <script type="text/javascript" src="venobox/venobox.min.js"></script>
    <!-- jquery Meanmenu js -->
    <script src="js/jquery.meanmenu.js"></script>
    <!-- wow js -->
    <script src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- scrollUp JS -->
    <script src="js/jquery.scrollUp.min.js"></script>
    <!-- plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Nivo slider js -->
    <script src="lib/js/jquery.nivo.slider.js" type="text/javascript"></script>
    <script src="lib/home.js" type="text/javascript"></script>
    <!-- main js -->
    <script src="js/main.js"></script>
    <script>
        let newList = new Array();
        let currentList = localStorage.getItem('listSeen');
        currentList = JSON.parse(currentList)
        let book = {
            _id: '<%= book._id %>',
            image: '<%= book.image %>',
            name: '<%= book.name %>',
            unitPrice: '<%= book.unitPrice %>'
        }
        let listId = [];
        if (currentList != null) {
            let listId = currentList.map(e => JSON.parse(e)._id);
            if (listId.indexOf('<%= book._id %>') == -1) {
                currentList.push(JSON.stringify(book));
                localStorage.setItem('listSeen', JSON.stringify(currentList));
            }
        } else {
            newList.push(JSON.stringify(book))
            localStorage.setItem('listSeen', JSON.stringify(newList));
        }
    </script>
    <!--Facebook SDK -->

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.3&appId=382215572592657&autoLogAppEvents=1">
    </script>
</body>

</html>